<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enquiry</servlet-name>
        <servlet-class>Enquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>UserLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogout</servlet-name>
        <servlet-class>adminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmTransaction</servlet-name>
        <servlet-class>AdmTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enquiry</servlet-name>
        <url-pattern>/Enquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogout</servlet-name>
        <url-pattern>/adminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmTransaction</servlet-name>
        <url-pattern>/AdmTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
